@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

*:focus-visible {
  @apply outline-none ring-2 ring-indigo-500 ring-offset-2;
}

body {
  @apply antialiased;
}
